<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huadi.cedon.dao.favoriteMapper">
  <resultMap id="BaseResultMap" type="com.huadi.cedon.model.favorite">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="entity_id" jdbcType="INTEGER" property="entityId" />
    <result column="favorite_date" jdbcType="TIMESTAMP" property="favoriteDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, entity_id, favorite_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from favorite
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from favorite
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huadi.cedon.model.favorite">
    insert into favorite (id, user_id, entity_id, 
      favorite_date)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{entityId,jdbcType=INTEGER}, 
      #{favoriteDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huadi.cedon.model.favorite">
    insert into favorite
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="entityId != null">
        entity_id,
      </if>
      <if test="favoriteDate != null">
        favorite_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="entityId != null">
        #{entityId,jdbcType=INTEGER},
      </if>
      <if test="favoriteDate != null">
        #{favoriteDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huadi.cedon.model.favorite">
    update favorite
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="entityId != null">
        entity_id = #{entityId,jdbcType=INTEGER},
      </if>
      <if test="favoriteDate != null">
        favorite_date = #{favoriteDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huadi.cedon.model.favorite">
    update favorite
    set user_id = #{userId,jdbcType=INTEGER},
      entity_id = #{entityId,jdbcType=INTEGER},
      favorite_date = #{favoriteDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>