<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huadi.cedon.dao.recordMapper">
  <resultMap id="BaseResultMap" type="com.huadi.cedon.model.record">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="consume_number" jdbcType="INTEGER" property="consumeNumber" />
    <result column="consume_date" jdbcType="TIMESTAMP" property="consumeDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, goods_id, consume_number, consume_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huadi.cedon.model.record">
    insert into record (id, user_id, goods_id, 
      consume_number, consume_date)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{consumeNumber,jdbcType=INTEGER}, #{consumeDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.huadi.cedon.model.record">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="consumeNumber != null">
        consume_number,
      </if>
      <if test="consumeDate != null">
        consume_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="consumeNumber != null">
        #{consumeNumber,jdbcType=INTEGER},
      </if>
      <if test="consumeDate != null">
        #{consumeDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huadi.cedon.model.record">
    update record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="consumeNumber != null">
        consume_number = #{consumeNumber,jdbcType=INTEGER},
      </if>
      <if test="consumeDate != null">
        consume_date = #{consumeDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huadi.cedon.model.record">
    update record
    set user_id = #{userId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      consume_number = #{consumeNumber,jdbcType=INTEGER},
      consume_date = #{consumeDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>