<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huadi.cedon.dao.userMapper">
  <resultMap id="BaseResultMap" type="com.huadi.cedon.model.user">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="head_url" jdbcType="VARCHAR" property="headUrl" />
    <result column="signal" jdbcType="VARCHAR" property="signal" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="admin" jdbcType="INTEGER" property="admin" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="tele" jdbcType="VARCHAR" property="tele" />
    <result column="money" jdbcType="DOUBLE" property="money" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, password, salt, head_url, signal, sex, admin, email, tele, money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huadi.cedon.model.user">
    insert into user (id, name, password, 
      salt, head_url, signal, 
      sex, admin, email, 
      tele, money)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{headUrl,jdbcType=VARCHAR}, #{signal,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{admin,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{tele,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.huadi.cedon.model.user">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="headUrl != null">
        head_url,
      </if>
      <if test="signal != null">
        signal,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="admin != null">
        admin,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="tele != null">
        tele,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null">
        #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="signal != null">
        #{signal,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="admin != null">
        #{admin,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="tele != null">
        #{tele,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huadi.cedon.model.user">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null">
        head_url = #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="signal != null">
        signal = #{signal,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="admin != null">
        admin = #{admin,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="tele != null">
        tele = #{tele,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huadi.cedon.model.user">
    update user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      head_url = #{headUrl,jdbcType=VARCHAR},
      signal = #{signal,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      admin = #{admin,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      tele = #{tele,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>