.cd_history_banner{
	height:100px; 
	border:1px dashed black; 
	text-align:center;
}
.cd_history_main_container{
	width:100%; 
	border:5px dashed black;
	float:left
}
li{
	list-style-type:none;
	width:90%;
	height:200px;
	border:1px dashed black;
	margin:20px;
}
.cd_main_head{
	height:30px; 
	border:1px dashed black; 
	margin-top:10px;
}
.cd_clear_history{
	float:right; 
	border:1px dashed red;
	background-color:blue;
}
.cd_history_item{
	width:40%; 
	height:80%; 
	float:left
}
.cd_history_item p{
	margin-top:40px;
	margin-left:50px; 
	padding:10px;
	font-size:12px;
	font-family:'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei';
}