@CHARSET "UTF-8";
html,body,li,ul,p,a,i{
	margin:0;
	padding:0;
	font-family:'Microsoft YaHei';
	font-style:normal
}
html,body{
	min-width:1035px;
	color:#333
}
img{
	border:none
}
h1,h2,h3,h4,h5,h6,input{
	margin:0;
	padding:0;
	font-weight:400
}
button,input[type=button]{
	border:none;
	outline:none
}
em,strong{
	font-style:normal
}
[type=radio]{
	margin-right:10px;
	vertical-align:middle
}
li{
	list-style:none
}
a{
	text-decoration:none
}
.c_fl{
	float:left!important
}
.c_fr{
	float:right!important
}
.c_clear_both{clear:both;height:0}
div,input{box-sizing:border-box;-webkit-box-sizing:border-box}
.c_content{width:1040px;margin:0 auto}
.c_content_top{height:90px}
.c_top_txt{font-size:22px;color:#333;margin-top:50px}
.c_top_logo{margin:20px 0 0 5px}
.c_login_wrap{width:100%;height:670px;background:url("../img/login/login_bg.jpg") no-repeat top center;background-size:cover}
.c_line{width:1px;height:29px;background:#333;margin:50px 18px 0}
.c_reg_wrap{width:100%;height:670px;background:url("../img/register/reg_bg.png") no-repeat center top}
.c_reg_box{
	padding-top:120px;
	width:1000px;
}
.c_reg_input{
	display:block;
	height:40px;
	width:300px;
	border:1px solid #d3d3d3;
	border-radius:4px 4px 4px 4px;
	-moz-border-radius:0 4px 4px 0;
	font-size:16px;
	padding:10px;
	margin:0 0 20px 10px
}
.c_reg_box li span{font-size:17px;line-height:40px;color:#666;float:left;width:100px;}
.input_error{
	margin-top:10px;
	display:none;
	float:left;
	margin-left:20px;
	color:red;
	font-size:16px;
}
.input_valid{
	margin-top:10px;
	display:none;
	float:left;
	margin-left:20px;
	color:green;
	font-size:16px;
}
.c_reg_ph{
	background:#fff url(" ") no-repeat 278px 7px
}
.c_reg_lock{
	background:#fff url("../img/register/reg_lock.png") no-repeat 277px 10px
}
.c_reg_input_v{
	width:180px;
	margin-right:22px
}
.c_reg_box li img{
	width:98px;
	height:41px
}
.c_btn{width:160px;height:42px;border-radius:4px;box-sizing:border-box;background-color:#f9dad5;border:none;cursor:pointer}
.c_reg_box .c_btn_ph{width:98px;font:16px/40px 'Microsoft YaHei';color:#ed3f3f;border:1px solid #fac1ba;cursor:pointer}
.c_reg_check{
	margin-left:10px;
	font-size:13px
}
.c_reg_check a{color:#ed3f3f;cursor:pointer}
.c_reg_check input{margin:1px 7px 0 0}
.c_btn_reg{
	width:160px;
	font:bolder 16px/40px 'Microsoft YaHei';
	color:#fff;
	background-color:rgba(211, 211, 211, 1);
	margin-left:10px;
	margin-top:10px;
}
.c_btn_login{
	margin-top:10px;
	margin-left:14px;
	width:126px;
	font-size:15px;
	font-weiht:bolder;
	line-height:40px;
	color:#666;
	text-align:center;
	border:1px solid rgba(211, 211, 211, 1);
	background-color:#fff
}
.c_error{width:150px;margin:8px -160px 0 0;color:#eb0028;float:right}
.c_disagree{cursor:not-allowed}
.c_wq_login{
	margin:15px 0 0 10px
}
.c_reg_box .c_wq_login span,a{font-size:12px;color:#666}
.c_weibo_icon{margin:14px 3px 0 5px;width:18px;height:14px;background-image:url("../img/login/weibo_icon.png?__spriter")}
.c_qq_icon{width:13px;background-image:url("../img/login/qq_icon.png?__spriter")}
.c_qq_icon,.c_wechat_icon{margin:14px 3px 0 7px;height:14px}
.c_wechat_icon{width:17px;background-image:url("../img/login/wechat_icon.png?__spriter")}
.c_wechat_box{display:none;padding:120px 0 0 35px;width:400px}
#wechat_login_container{margin:0 32px}
.c_wechat_back{width:100%;text-align:center;font-size:15px;cursor:pointer}